<nav class="navbar nav navbar-nav navbar-expand-md navbar-dark bg-dark fixed-top" style="padding: 0px !important;height: 45px;">
    <div class="navbar-brand" href="#">AMCC & SoE Ownership</div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mouse-hand" [ngClass]="{active: linkType =='SoE Files'}">
        <a class="nav-link" data-toggle="tab" href="#" routerLink="SoE Files" (click)="changeActiveTab('SoE Files')">SoE Files
        </a>
      </li>
      <li class="nav-item mouse-hand" [ngClass]="{active: linkType =='Teams'}">
        <a class="nav-link" data-toggle="tab" href="#" routerLink="Teams" (click)="changeActiveTab('Teams')">Teams</a>
      </li>
      <li class="nav-item mouse-hand" [ngClass]="{active: linkType =='APIs'}">
        <a class="nav-link" data-toggle="tab" href="#" routerLink="APIs" (click)="changeActiveTab('APIs')">APIs</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item1 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="welcome-style">Welcome: {{user}}</span> <img src={{userImage}} class="welcome-user-image rounded-circle">
        </a>
      </li>
    </ul>
    <div>
     <!-- <span class="welcome-style">Welcome: Mohit </span>
      <img class="welcome-user-image mouse-hand" src="/assets/img/mitesh.JPG">-->
    </div>
</nav>