  .bg-dark {
    background-color: #0a63bb !important;
  }  
.welcome-style{
    margin-right: .5rem!important;
    color: #f3f3f3;
    font-weight: 700;
  }
  .welcome-user-image{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%!important;
  }
  .nav-link {
    height: 45px;
  }
  .nav-item.active {
    background-color: #d8d8d8;
    height: 45px;
  }
  .nav-item:hover {
    height: 45px;
    color: white;
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }