/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

@import '~font-awesome/scss/font-awesome.scss';

.ag-theme-alpine {
  @include ag-theme-alpine();
}

    .template {
    padding: 3rem 1.5rem;
    text-align: center;
    }
.mouse-hand{
  cursor: pointer;
}
.margin{
  margin-right: 20px;
  margin-left: 0px;
}
.fa-pencil-square-o:hover{
  color: #4c6ef5;
}
.fa-trash:hover{
  color: #ea0012;
}
.fa-user-plus{
  color: #be4bdb;
}
.fa-user-plus:hover{
  color: #82c91e;
}
